<br><br><br><br><br><br>
<nav class="navbar navbar-expand-md navbar-light navbar-bg fixed-top" style="background:white;">
  <div class="container">
    <a class="navbar-brand" href="/">
      <%= image_tag  "surrey-891e3c9e20d6f1d8c3753187a9e57594a02314ed145afb3740ac8b7d00f3a155.png" %>

    </a><button class="navbar-toggler" data-aria-controls="navbar" data-aria-label="Toggle navigation" data-target="#navbar" data-toggle="collapse" type="button">
  <span class="navbar-toggler-icon"></span>
  </button>
    <div class="navbar-collapse collapse" id="navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="/main">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/main/introduction">Introduction</a></li>
        <li class="nav-item"><a class="nav-link" href="/main/about">About</a></li>
        <li class="nav-item"><a class="nav-link" href="/main/documents">Documents</a></li>
        <li class="nav-item"><a class="nav-link" href="/election/index">Elections</a></li>
        <li class="nav-item" ><a class="nav-link" href="/main/verifiable">Verifiable Voting</a></li>
       </ul>
      <ul class="navbar-nav">
      </ul>
    </div>
    <p><a class="nav-link" href="/voter/elections"> Voter <a/> </p>
		<p><a class="nav-link" href="/admin/index"> Admin </a> </p>
  </div>
</nav>
<div class='container'>
<div class="jumbotron bg-white border mb-0 py-5">
  <h1>About</h1>

  <p>
    Verify My Vote (VMV) offers the opportunity to check your vote electronically. 
  </p>
  <p>
  The system has been designed by the University of Surrey as part of the Voting on Ledger Technologies (VOLT) research project. It is based on the Selene system originating from the University of Luxembourg. This project is concerned with trusted and transparent voting systems, and with the use of distributed ledger technologies to enhance their trustworthiness. Other partners of the project involved in the trials of the VMV project system are King's College London and Electoral Reform Services, part of the Civica Group. University of Luxembourg are also involved.
  </p>
  <p>The code for VMV has been developed for the University of Surrey by Pervasive Intelligence Ltd. The system also makes use of the Verificatum system created by Douglas Wikstrom, and we are grateful to him for his advice on its deployment. The system also makes use of the Quorum version of the Ethereum blockchain.</p>
  <p> VMV is a version of Ryan, Rønne, and Iovino's end-to-end verifiable voting system called Selene. VMV has adapted the Selene design to integrate with the Electoral Reform Services online voting system. The approach to verifiability at the heart of Selene has been fully implemented. </p>
</div>
</div>