<br> <br><br> <br>
<nav class="navbar navbar-expand-md navbar-light navbar-bg fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">
      <%= image_tag  "surrey-891e3c9e20d6f1d8c3753187a9e57594a02314ed145afb3740ac8b7d00f3a155.png" %>

    </a><button class="navbar-toggler" data-aria-controls="navbar" data-aria-label="Toggle navigation" data-target="#navbar" data-toggle="collapse" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="navbar-collapse collapse" id="navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="/main">Home
        </a></li><li class="nav-item"><a class="nav-link" href="/main/elections">Elections
      </a></li><li class="nav-item"><a class="nav-link" href="/main/verifiable">Verifiable Voting
      </a></li></ul>
      <ul class="navbar-nav">
      </ul>
    </div>
  </div>
</nav>
<div class='container'>
  <div class='jumbotron bg-white border mb-0 py-5'>
    <h1 class='text-center'>Verify My Vote</h1>
    <h4 class='text-center'>
      Offers the opportunity to check your vote electronically
    </h4>
    <p class='lead my-0 text-center'>
      <i class="fas fa-check-circle fa-lg text-success" aria-hidden="true"></i>
      Anonymised use of tracking numbers ensures <b>vote privacy</b>
    </p>
    <p class='lead my-0 text-center'>
      <i class="fas fa-check-circle fa-lg text-success" aria-hidden="true"></i>
      Voters can check that their vote is included in the count <b>exactly as it was cast</b>
    </p>
    <p class='lead my-0 text-center'>
      <i class="fas fa-check-circle fa-lg text-success" aria-hidden="true"></i>
      Publication of election audit data ensures that the <b>integrity of the ballot</b> can be independently confirmed
    </p>
  </div>
</div>
<div class='container'>
  <h3 class='text-center pt-3'>Recent verifiable elections:</h3>
  <div class='row'>
    <div class='col-lg'></div>
    <div class='col-md py-1'>
      <a class="btn btn-primary w-100 btn-election" href="">College of Podiatry</a>
    </div>
    <div class='col-md py-1'>
      <a class="btn btn-primary w-100 btn-election" href="">Royal College of Nursing</a>
    </div>
    <div class='col-md py-1'>
      <a class="btn btn-primary w-100 btn-election" href="">Surrey Representatives</a>
    </div>
    <div class='col-lg'></div>
  </div>
  <p class='text-center py-2'><a href="/voter/elections">See more...</a></p>
</div>
<div class='container h-100'>
  <p class='lead text-center'>Built in partnership by:</p>
  <div class='row align-items-center h-100'>
    <div class='col-xl-4 col-md-6 mx-auto text-center'>
      <a target="_blank" href="https://www.surrey.ac.uk/">
       University of Surrey
      </a></div>
    <div class='col-xl-4 col-md-6 mx-auto text-center'>
      <a target="_blank" href="https://www.kcl.ac.uk/">
          King's College London
      </a>
    </div>
    <div class='col-xl-4 col-md-6 mx-auto text-center'>
      <a target="_blank" href="https://www.electoralreform.co.uk/">
        Electoral Reform Services
      </a></div>
    <div class='col-xl-4 col-md-6 mx-auto text-center'>
      <a target="_blank" href="https://www.pervasive-intelligence.co.uk/">
        Pervasive Intelligence Ltd
      </a></div>
    <div class='col-xl-4 col-md-6 mx-auto text-center'>
      <a target="_blank" href="https://wwwen.uni.lu/">
        University of Luxembourg
      </a></div>


  </div>
  <p class='text-center py-2'>

  </p>

</div>
