<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Dear Voter,</h4>
    <p>
      Thank you for casting your vote.
    .<br>
    </p>
    <p>To check your vote please click on the link below. This will direct you to the Verify My Vote website which will show you the vote it has recorded for you. This check contains no information that will identify you.
   </p> <br>
   <p>You can verify your vote here</p>
    <ul>
    <li> <a href="<%= getLink %>">Verify Your Vote</a>. </li>
    </ul>
    <p>
      
    </p>
    <p>Further information about the trial is available at <a href="https://vmv1.surrey.ac.uk"> https://vmv1.surrey.ac.uk </a>.
</p>
  </body>
</html>
